In [1]:
# Dependencies 
from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd
import requests
from time import sleep 
import time

In [2]:
# For Windows Users
# Executable path to create the new Browser for the chrome driver

executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

### NASA Mars News

In [215]:
# NASA Mars News Site https://mars.nasa.gov/news/
# collect the latest news title and paragraph text
# assign the text to variables for reference later

In [3]:
# using the visit method to navigate the pages
nasa_url = "https://mars.nasa.gov/news/"
browser.visit(nasa_url)
time.sleep(1)

In [4]:
# Going to use the html attribute to retrieve the html content and make html object
# Create the BeautifulSoup object

html = browser.html
soup = BeautifulSoup(html, "html.parser")
type(soup)

bs4.BeautifulSoup

In [218]:
# print(soup.prettify())

In [6]:
# Extract the latest Mars news title and Mars Paragraph text
# Find the latest element that contains the title and news paragraph
# info from url:ul class="item list", li class="slide", div=image and desc container, 
# div class = list text,div class = list date, #div = content title , div class article teaser body
nasa_news_title = soup.find_all("div", class_= "content_title")[3].get_text()
nasa_news_title

"HiRISE Views NASA's InSight and Curiosity on Mars"

In [7]:
nasa_news_p = soup.find_all("div", class_= "article_teaser_body")[3].get_text()
nasa_news_p

'New images taken from space offer the clearest orbital glimpse yet of InSight as well as a view of Curiosity rolling along.'

In [17]:
#Closing browser after completion of scraping
browser.quit()

### JPL Mars Space Images - Featured Image

In [11]:
executable_path = {'executable_path': './chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [12]:
# url for JPL Featured Space Image

jpl_mars_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(jpl_mars_url)
time.sleep(1)

In [13]:
#retrieve the html content and make html object
# Parsing the html space images via Beautiful soup
html_space_images = browser.html
soup = BeautifulSoup(html_space_images, "html.parser")

In [14]:
space_images = soup.find_all("a", class_="fancybox")
# print(space_images)

In [15]:
partial_url = []

for image in space_images:
    featured_image = image['data-fancybox-href']
    partial_url.append(featured_image)
    
featured_image_url = "https://www.jpl.nasa.gov" + featured_image
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA23279_hires.jpg'

In [16]:
browser.quit()

### Mars Weather

In [25]:
#Mars Weather Twitter Account - "https://twitter.com/marswxreport?lang=en"
#scrape the latest Mars weather tweet from the page. 

executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [26]:
mars_twitter_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(mars_twitter_url)
time.sleep(1)

In [27]:
html_weather = browser.html
weather_soup = BeautifulSoup(html_weather, "html.parser")

In [28]:
#latest Mars weather tweet / div class=js-tweet-text-container/<p class =TweetTextSize 
# TweetTextSize--normal js-tweet-text tweet-text
weather_tweet = weather_soup.find("div", class_="js-tweet-text-container")
mars_weather = weather_tweet.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
print(mars_weather)

InSight sol 319 (2019-10-19) low -101.5ºC (-150.7ºF) high -25.5ºC (-13.9ºF)
winds from the SSE at 4.6 m/s (10.4 mph) gusting to 18.4 m/s (41.2 mph)
pressure at 7.10 hPapic.twitter.com/gdBUdujdVM

In [29]:
browser.quit()

### Mars Facts

In [ ]:
# Visit the Mars Facts webpage [here](https://space-facts.com/mars/) 
# Use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.
# Use Pandas to convert the data to a HTML table string.

In [82]:
mars_facts_url = "https://space-facts.com/mars/"

mars_facts_table = pd.read_html(mars_facts_url)
mars_facts_table

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [83]:
type(mars_facts_table)

list

In [85]:
mars_facts_df = mars_facts_table[1]

mars_facts_df.columns = ["Description", "Values"]
mars_facts_df

            Description                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [86]:
mars_facts_df.set_index("Description", inplace=True)
#convert to html string table
mars_facts_html = mars_facts_df.to_html()
print(mars_facts_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Values</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [87]:
# strip unwanted newlines to clean up table
mars_facts_html.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Values</th>    </tr>    <tr>      <th>Description</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [66]:
# Mars facts table cleaned up
print(mars_facts_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Values</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [88]:
# saving table to files
mars_table_df.to_html("table.html")

### Mars Hemispheres

In [89]:
#  USGS Astrogeology site [here](https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars) 
#to obtain high resolution images for each of Mar's hemispheres.
# You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.
# Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing
# the hemisphere name. Use a Python dictionary to store the data using the keys `img_url` and `title`.
# Append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary 
# for each hemisphere.

executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [90]:
usgs_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(usgs_url)
time.sleep(1)

In [91]:
html = browser.html
soup = BeautifulSoup(html, "html.parser")

# hemisphere thumbnail titles on page
hemispheres = soup.find_all("div", class_="item")

# Empty list for the 4 image urls 
hemisphere_images_urls = []

# hemisphere thumbnail titles on page
usgs_main = 'https://astrogeology.usgs.gov'

for hemisphere in hemispheres:
    
    title = hemisphere.find("h3").text
   
    partof_url = hemisphere.find("a", class_= "itemLink product-item")["href"]
    browser.visit(usgs_main + partof_url)
                   
   #html object of each hemisphere image

    partof_url_html = browser.html
    html_soup = BeautifulSoup(partof_url_html, "html.parser")
    
    img_url = usgs_main + html_soup.find("img", class_="wide-image")["src"]
    
    hemisphere_images_urls.append({"title": title, "img_url": img_url})
   
    
hemisphere_images_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]

In [92]:
browser.quit()